<!DOCTYPE html>
<html>

<head>
  <title>Login Page</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="./styles.css">
  <!-- <link rel="stylesheet" href="css/styles.css"> -->
</head>

<body>
<!-- Navbar -->
<nav>
    <div class="nav-wrapper light-blue darken-3 z-depth-4">
      <h1 class="right light"style="margin-top:0px; margin-right:50px;"><em>Hall of <b>Recall</b></em>
    </h1>
    <ul id="nav-mobile" class="left hide-on-med-and-down thin">
      <li><a href="howto.hbs">Signup <em>Free</em></a></li>
      <li><a href="howto.hbs">Learn More</a></li>
    </ul>
    </div>
  </nav>
<div class="blue lighten-5 z-depth-3">

<h5 class="indigo-text blue lighten-4 thin " style="margin-left: 200px; margin-bottom: 5px; margin-top: 5px;">
  <blockquote>Please, <b>login</b> into your account</blockquote></h5>
</div>

    <div class="container" style="margin-left: 0px; margin-right: 0px; max-width: -webkit-fill-available; width: max-content">

      <div class="row">
        <form class="col s12">
            <div class="row" style="margin-left: 20px; margin-right: 20px;">
              <div class="input-field col s6">
                <input placeholder="Enter Username" id="login-username" type="text" class="validate">
                <label for="login-username">Username</label>
              </div>
              <div class="input-field col s6">
                <input placeholder="Enter Password" id="login-password" type="text" class="validate">
                <label for="login-password">Password</label>
              </div>
            </div>
          </form>
            <div class="row center-align">
              <a class="waves-effect waves-light btn light-blue darken-3" style="" href="/game">Login Now</a>
            </div>

      </div>
      <img class="responsive-img z-depth-5" style="width: max-content; margin-left: 0px; margin-right: 0px;"  src="https://images.unsplash.com/photo-1439846583999-b988afee1b0a?ixlib=rb-0.3.5&q=85&fm=jpg"></img>
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


</html>
