<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  </head>
  <body>
    <nav>
        <div class="nav-wrapper light-blue darken-3 z-depth-4">
          <h1 class="right light"style="margin-top:0px; margin-right:50px;"><em>Hall of <b>Recall</b></em>
        </h1>
        <ul id="nav-mobile" class="left hide-on-med-and-down thin">
          <li><a href="/">Logout <em>NOW!</em></a></li>

        </ul>
        </div>
      </nav>


</body>
  <script src="/phaser.min.js"></script>
  <script src="/game.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</html>
