<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
<!-- //Nav  -->
<nav>
    <div class="nav-wrapper indigo">
      <h1 class="right light"style="margin-top:0px; margin-right:50px;"><em>Hall of <b>Recall</b></em>
    </h1>
    </div>
  </nav>
<!-- Side Nav -->
<ul id="slide-out" class="side-nav fixed  indigo lighten-3" style="padding-top:10px;">
  
  <li style="padding-left:30px;"><h4>Welcome, <b style="align-right">Weston!</b></h4></li>
      <li>Memory Key</li>
      <li style=""><a href="#!">First Sidebar Link</a></li>
<div class="">
  <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header">Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header">Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>
</div>
</ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
<!-- game space -->
<!-- Footer -->
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="scripts/web.js">
  </script>
</html>
